.link--custom-button {
  background-color: #1D2734;
  color: white;
  padding: 8px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border: 0.86px solid #1D2734;
  width: 134px !important;
  height: 43px !important;
  }
  
  .link--custom-button:hover {
    background-color: #2a3645;
  }


.link-custom-button .icon-arrow {

  margin-left: 8px;
}

.childrenContainer--HERO-DESKTOP-BANNER {
  display: flex;
  justify-content: center;
  align-items: center;
}

.childrenContainer--custom-button{
  transform: translateY(20%);
}

.link--favorites-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #1D2734;
  color: #1D2734;
  width: 44px !important;
  height: 32px !important;
  }
  .childrenContainer--favorites-button{
    display: flex;
    transform: translateY(20%);
    
  }
  .link--hdr-icon-link {
    color:#1D2734;
    text-align: center;
    text-decoration: none;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-weight: 300;
    font-size: 12px;
    }
    .link--hdr-links{
      font-weight: 400;
      font-size: 12px;
      text-decoration: none;
      text-wrap: nowrap;
      align-items: center;
    }
    .link--hdr-link-trend{
      font-weight: 400;
      font-size: 12px;
      text-decoration: none;
      white-space: nowrap;
     padding-right: 180px;
    }