.flexRow--FLEX-HEADER-DESKTOP{
    height: 56;
}
.flexCol--SLIDER-CARD-MAIN{
    margin: 0;
}
.flexRowContent--TEXT-AND-LOGO{
    margin-top: 13.82px;
    width: 324px;
}
.flexRowContent--PHONEIMAGE{
    width: 324px; /* Ancho del contenedor */
    height: 186.62px; /* Alto del contenedor */
    overflow: hidden; /* Oculta la parte que no cabe en el contenedor */
    border-radius: 13.82px 13.82px 0px 0px; /* Bordes redondeados */
    position: relative;
}
.flexRowContent--HERO-CONTAINER{
    justify-content: center; /* Centra horizontalmente */
    background-color: blue;
}
.flexRowContent--VER-PRECIO-BUTTON{
width: 300px; /* Especifica el ancho del elemento */
height: 100px; /* Especifica la altura del elemento */
display: flex;
justify-content: center; /* Centra horizontalmente el contenido del elemento */
align-items: center;
}
.flexRowContent--FAVORITES-AND-OFF{
    display: flex;
    align-items: center;
}
.flexRow--FLR-PRODUCT-GRID-DSK{
    max-width: 1092px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

}