.flexRow--desktop__spacer--header{
    background-color: #FFFFFF;
    height: 56px;
}
.flexRow--FLEX-HEADER-DESKTOP {
    background-color: #FFFFFF;
}
.flexRowContent--FLEX-HEADER-DESKTOP {
    
    height: 56px;
    padding: 8px 48px 8px 48px;
}
.flexCol--logo-desktop{
    display: flex;
    justify-content: center;
}

.flexCol--SLIDER-CARD-MAIN {}



.flexRow--textbuttons {
    display     : flex;
    align-items : center;
    text-wrap: nowrap;
    color: #1d1d1d;
    
}

.flexRowContent--textbuttons {
    gap         : 30px;
    padding-left: 10px;
}

.flexRowContent--FLEX-HEADER-DESKTOP-ICONS {
}

.flexRow--FLEX-HEADER-DESKTOP-ICONS {
    margin-right : 10%;
display: flex;
align-items: flex-end;
height: 56px;
background-color: #FFFFFF;
width: 100%;
}

.flexRowContent--TEXT-AND-LOGO {
    margin-top: 13.82px;
    width     : 324px;
}

.flexRowContent--PHONEIMAGE {
    width        : 324px;
    /* Ancho del contenedor */
    height       : 186.62px;
    /* Alto del contenedor */
    overflow     : hidden;
    /* Oculta la parte que no cabe en el contenedor */
    border-radius: 13.82px 13.82px 0px 0px;
    /* Bordes redondeados */
    position     : relative;
}

.flexRowContent--VER-PRECIO-BUTTON {
    width          : 300px;
    /* Especifica el ancho del elemento */
    height         : 100px;
    /* Especifica la altura del elemento */
    display        : flex;
    justify-content: center;
    /* Centra horizontalmente el contenido del elemento */
    align-items    : center;
}

.flexRowContent--FAVORITES-AND-OFF {
    display    : flex;
    align-items: center;
}

.flexRow--FLR-PRODUCT-GRID-DSK {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 1092;
}

.flexCol--flex-layout__icon--header{
    padding:4px;
    height: 47px;
    width: 70px;
}

.flexCol--flex-layout__icon--header-artic{
    padding:4px;
    height: 47px;
    width: 80px;
}
